*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{




}


.btn{
  padding: 18px 35px;
  background-color: #FD6E0A;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;


}









.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
.logo h2{
  font-size: 45px;
  font-weight: 900;
}

.color-orange{
  color: #FD6E0A;
}





/* main style*/
header{
  background-color: #FFF8F3;
  padding-top: 50px;
  
  border-bottom: 1px solid #e0e0e0;
}


nav {
  width: 71%;
  max-width: 1140px;
  border: 1px solid red;

  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;



}


nav .menu{

align-items: center;
    display: flex;
    gap: 51px;
    list-style-type: none;

}


nav .menu a{
  text-decoration: none;
  font-size: 20px;
  
  color: #474747;

}






